aboutme {
    position: relative;
    @extend .flex-start-end;

    > img {
	    display: none;
        position: absolute;
        right: 70%;
        }
    
    > div {
        display: block;
        position: absolute;
        right: 0px;
	    width: 600px;
    }
}
