
bio {
    position: relative;
    @extend .flex-start-end;

    > img {
	    display: none;
        position: absolute;
        right: 70%;
        }
    
    > div {
        display: none;
        position: absolute;
        right: 1000px;
	width: 600px;
    }
}
