//

mylogo {
	> logo {
        padding-top: .5rem;
        padding-left: 2.5rem;

        //line-height: normal;
		> svg {
	        height: 100px;
	        width: 200px;
			> g {
        		fill: $main-red;
			}
		}
	} 

	> sublogo {
		position: relative;
		top: -15px;
		left: 10px;
		@extend .logo-font;
		color: $main-red;
	}
}

//